@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Geologica", sans-serif;
}
body {
    /* dont know why it is not  working for  */
    background-image: url("https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,q_auto,w_1200,h_630,d_uk:cuisines:argentinian-1.jpg/v1/uk/restaurants/164421.jpg");
    background-repeat: repeat;
    /* background-size: 100% 100%; */
    overflow-x: hidden;
    
  }

.header {
    border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 94, 13);
  /* position: fixed; */
}
.nav-items ul li img {
  height: 40px;
  width: 40px;
}

.logo-container img {
  width: 150px;
  height: 80px;
  margin: 0px 80px;
}
.logo-container img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s;
}
.nav-items ul {
  gap: 50px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.nav-items ul li {
  list-style: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}
.nav-items ul li:hover {
  list-style: none;
  text-decoration: underline;
  color: #010101;
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
}

.loginBtn{
  font-weight: 500;
font-size: 18px;
color: #fff;
background: linear-gradient(360deg, #ffbc68 0%, #f76b00 65%);
padding: 10px 47px;
border: solid #fafcff 1px;
box-shadow: none;
border-radius: 6px;
transition : 228ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: lowercase;
}
.loginBtn:hover{
  transition : 228ms;
padding: 10px 52px;
transform : translateY(-0px);
background: linear-gradient(360deg, #e8cb7b 0%, #ff7e1c 65%);
color: #000000;
border: solid 1px #fbfdff;
}
/* styles.css */

.nav-link {
  text-decoration: none;
  color: black;
  /* Add other styles as needed */
}
