.headingf {
  font-size: 43px;
  text-shadow: 4px 6px 6px #9f3b09;
  color: rgb(240, 248, 255);
  letter-spacing: 2.2px;
  word-spacing: 3.8px;
}
.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  margin-right: 60px;
}
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  margin-right: 60px;
}
.search input {
  width: 60vh;
  margin: 0px 0px;
  height: 40px;
  padding: 0px 0px 0px 36px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
}
.btn {
  background-color: rgb(233, 150, 7);
  border: none;
  width: 20vh;
  cursor: pointer;
  margin: 0px 0px;
  height: 40px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #fff; 
  font-size: 16px; 
  font-weight: bold;
}
.btn:hover {
  background-color: rgb(200, 120, 5); 

}
.btn1 {
  position: absolute;
  bottom: 34px;
  /* left: 12px; */
  background-color: rgb(233, 150, 7);
  border: none;
  display: flex;
  width: 30vh;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 15px auto;
  height: 40px;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-size: 16px; 
  font-weight: bold;
}
.btn1:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgb(233, 150, 7);
  transform: scale(1.1);
  transition: background-color 0.1s;
}
.filtered-btn {
  background-color: rgb(233, 150, 7);
  border: none;
  height: 40px;
  width: 40vh;
  border-radius: 50px;

  /* Flexbox for Centering Content */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid ;
  cursor: pointer;
  margin: 100px 200px;
  color: #fff; 
  font-size: 16px; 
  font-weight: bold; 
  box-shadow: 0 4px 8px rgba(100, 96, 96, 0.4); 
}

.filtered-btn:hover{
  background-color: rgb(200, 120, 5); 
}


.res-container {
  background-color: rgba(240, 239, 238, 0.616);
  display: flex;
  flex-wrap: wrap;
  max-width: 95vw;
  margin: 0px auto;

  -webkit-box-shadow: 10px 10px 7px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 7px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 7px 3px rgba(0, 0, 0, 0.75);

  border-radius: 20px;
  margin-top: 100px;
}
.res-card {
  /* display: flex; */
  position: relative;
  background-color: rgba(255, 255, 255, 0.838);
  padding: 10px 10px;
  /* overflow-y: scroll; */
  -webkit-box-shadow: 10px 10px 7px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 7px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 7px 3px rgba(0, 0, 0, 0.75);
  margin: 30px 28px;
  width: 14vw;
  border-radius: 20px;
  height: 58vh;
  cursor: pointer;
}
.res-card:hover {
  transform: scale(0.9);
  transition: transform 0.1s;
}
.res-card img {
  /* object-fit: cover; */
  border-radius: 20px;
  width: 14vw;
  height: 22vh;
}
